@import './base/reset';
@import './base/typography';
@import './base/modules';
@import './layout/navigation';
@import './layout/header';
img {
  max-width: 115px;
}

body {
  max-width: 90em;
  margin: auto;
  position: relative;
  padding: 0 1em;
}
