@import './base/reset';
@import './base/typography';
@import './base/modules';
@import './layout/navigation';
@import './layout/header';
@import './layout/motto';
@import './layout/app';
@import './layout/web';

body {
  position: relative;
  overflow-x: hidden;
  max-width: 90em;
  margin: auto;
  padding: 0 1em;
}
