@import '../base/variables';

.app {
  margin-left: auto;
  justify-content: space-between;

  @media (min-width: 580px) {
    justify-content: space-between;
  }

  &__phone {
    // transform: rotate(-20deg);
    width: clamp(10em, 28vw, 25em);

    @media (min-height: 515px) {
      width: clamp(10em, 40vw, 35em);
    }

    @media (min-width: 580px) {
      // transform: rotate(-40deg);
    }
  }
}
