@import '../base/mixins';
@import '../base/variables';

.projects {
  position: relative;
  max-width: 70.5em;
  margin: auto;
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include article-border(0, 50%);

  @media (min-width: 700px) and (min-height: 700px) {
    height: 90vh;
    padding-bottom: 2em;
    .border {
      top: 60%;
      height: 67%;
      max-width: 80%;
      left: 15%;
    }
  }

  &__heading {
    @media (min-width: 700px) {
      text-align: center;
    }
  }

  .slides {
    position: relative;
    margin-bottom: 2em;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;

    @media (min-width: 700px) {
      overflow-x: hidden;
      margin-bottom: 0;
      height: 90%;
    }

    .slide {
      position: relative;
      overflow-x: hidden;
      width: 100%;
      padding-top: 4em;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;

      @media (min-width: 700px) and (min-height: 700px) {
        padding-top: 5%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      &__desc {
        background-color: $main-white;
        padding-left: 1em;
        max-width: 80%;
        padding-bottom: 2em;

        @media (min-width: 700px) {
          margin-right: 1.5em;
          padding: 1em 0;
          max-width: 40%;
        }

        h3 {
          margin-bottom: 0.5em;
        }

        p {
          margin-bottom: 1em;
          line-height: 1.8rem;
        }
      }

      &__img {
        width: 80%;

        @media (min-width: 700px) {
          width: 60%;
        }
      }
    }
  }

  &__nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    max-width: 15em;
    display: flex;
    justify-content: space-between;

    a {
      background-color: #e7e7e7;
      border-radius: 60%;
      width: 1.5em;
      height: 1.5em;
      padding: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a:active {
      background-color: $main-blue;
    }
  }
}
