@import '../base/variables';
.web {
  margin-right: auto;
  justify-content: space-evenly;

  @media (min-width: 580px) {
    height: 32vw;
    justify-content: flex-end;
  }

  &__laptop {
    width: 80vw;
    order: 1;
    @media (min-width: 580px) {
      position: absolute;
      left: 0;
      width: clamp(10em, 50vw, 55em);
      order: 0;
    }
  }
}
